@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background: url('../img/bg2.jpg'); */
    /* background-color: #FFF0F5; */
    background-color: #FFE4E1;
    /* background: #ffd700; */
    color: yellow;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: yellow !important;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

h2 span {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7px;
}


/* мои правки начало */

.bg1__1 {
    background: url(../img/3.jpg) center no-repeat;
}

.bg1__2 {
    background-image: url(../img/1.jpg);
    z-index: 4;
}

.bg1__3 {
    background-image: url(../img/9.jpg);
}

.bg1__4 {
    background-image: url(../img/2.jpg);
}

.bg1__5 {
    background-image: url(../img/7.jpg);
}

.bg1__6 {
    background-image: url(../img/4.jpg);
}

.bg1__7 {
    background-image: url(../img/5.jpg);
}

.bg1__8 {
    background-image: url(../img/6.jpg);
}

.bg1__9 {
    background-image: url(../img/3.jpg);
}

.bg1__10 {
    background-image: url(../img/8.jpg);
}

.bg1__11 {
    background-image: url(../img/9.jpg);
}


/* мои правки конец */

.container>div {
    cursor: pointer;
    height: 23vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in;
    opacity: 0.9;
}

.container>div:hover {
    transform: scale(1.13);
    /* opacity: 0.7; */
}

.container>div:nth-of-type(1) {
    grid-column: 1 / 3;
}


/* 
.bg1__4 {
    grid-row-start: 2;
    grid-row-end: span 2;
} */


/* .container>div:nth-of-type(5) {
    grid-row: 2 / 4;
} */

.container>div:nth-of-type(6) {
    grid-column: 3 / 5;
}


/* .container>div:nth-of-type(9) {
    grid-column: 3 / 5;
} */

.container>div:nth-of-type(7) {
    grid-column: 1/ 3;
}

.container>div:nth-of-type(12) {
    grid-column: 3 / 5;
}


/*  Эмблема ФИГАРО */

.bg1__2 {
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 50%;
    transform: scale(1.5) !important;
    opacity: 0.95 !important;
    font-size: 60px !important;
}

.bg1__2 p {
    font-size: 45px;
    font-weight: 400;
}

.bg1__2:hover {
    transform: scale(1.6) !important;
    opacity: 0.3 !important;
    color: rgba(255, 255, 255, 0.01);
}


/*  Эмблема ФИГАРО__конец */

.bg2 a {
    color: #fff;
    font-size: 60px !important;
}


/* .container>div:nth-of-type(10) {
    grid-column: 1 / 3;
} */


/* .bg1 {
    background: url('../img/bg1.jpg');
}

.bg2 {
    background: url('../img/bg2.jpg');
    color: #333;
} */

.bg__footer {
    background: url(../img/4.jpg);
}


/* стили для второй страницы */

.center {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black !important;
}

.center p {
    /* display: inline-block; */
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 30px;
    font-size: 50px !important;
    line-height: 30px;
}